
<table> 
<tr style="width: 100%">
<th>Title</th>
<th>Actions</th>
</tr>
<% @posts.each do |post| %>
  <tr>
    <td><%= post.title %></td>
    <td>
    <%=link_to "View", post_path(post.id) %>
    
    <a href="#" > Delete</a> 
    </td>
  </tr>
  <%end%>
 </table>


 <%=link_to "New Post", new_post_path %> 